<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
        <key>Label</key>
        <string>com.sigma.syncFileGoogleDrive</string>

        <key>ProgramArguments</key>
        <array>
                <string>/Users/sean/MathPotHW/sendfiletodrive.sh</string>
        </array>

        <key>OnDemand</key>
        <false/>
        
        <key>KeepAlive</key>
        <true/>

        <key>StandardErrorPath</key>
        <string>/tmp/syncFileGoogleDrive.err</string>

        <key>StandardOutPath</key>
        <string>/tmp/syncFileGoogleDrive.out</string>
</dict>
</plist>